*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  :root {
    --cor0: #000d13;
    --cor1: #058ec4;
    --cor2: #6795AB;
  }

  @font-face {
    font-family: 'tommy';
    src: url('componentes/MADE\ TOMMY\ Regular_PERSONAL\ USE.otf') format('opentype');
  }
  
  .App {
    font-family: 'tommy';
    letter-spacing: 2px;
    background-color: var(--cor0);
    height: 100vh;
  }

